  #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

// $jet: hsla(60, 3%, 17%, 1);
// $office-green: hsla(113, 55%, 29%, 1);
// $melon: hsla(11, 100%, 85%, 1);
// $coral: hsla(16, 95%, 69%, 1);
// $spring-green: hsla(150, 97%, 56%, 1);

