@import '../../../public/variables';

.container {
  display: grid;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  gap: 1rem; 
  background-color: darken($jet, 10);
  .cards{
    display: flex;
    margin: 0;  
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .filter{
    font-size: medium;
  }
  .pagination{
    button{
      font-size: large;
      font-weight: bold;
    }
  }
  .buttonsContainer{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
  }
  .filter-container{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
  }
}

.container::-webkit-scrollbar{
  display: none;
}
